<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.cy.store.mapper.AddressMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="aid">
        INSERT INTO t_address (uid, name, province_name, province_code, city_name, city_code, area_name, area_code, zip,
                               address, phone, tel, tag, is_default, created_user, created_time, modified_user,
                               modified_time)
        VALUES (#{uid}, #{name}, #{provinceName}, #{provinceCode}, #{cityName}, #{cityCode}, #{areaName},
                #{areaCode}, #{zip}, #{address}, #{phone}, #{tel}, #{tag}, #{isDefault}, #{createdUser},
                #{createdTime}, #{modifiedUser}, #{modifiedTime})
    </insert>

    <select id="countByUid" resultType="java.lang.Integer">
        SELECT count(*)
        FROM t_address
        WHERE uid = #{uid}
    </select>
    <select id="findByUid" resultType="com.cy.store.entity.Address">
        SELECT name, phone, tag, address, province_name, city_name, area_name, zip
        FROM t_address
        WHERE uid = #{uid}
        ORDER BY is_default DESC, created_time DESC
    </select>
</mapper>