<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.cy.store.mapper.CartMapper">
    <insert id="insert">
        INSERT INTO t_cart(uid,pid,price,num,created_user,created_time,modified_user,modified_time)
        VALUES(#{uid},#{pid},#{price},#{num},#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime})
    </insert>
    <update id="updateNumByCid">
        UPDATE t_cart
        SET num = #{num}, modified_time = #{date}
        WHERE cid = #{cid}
    </update>
    <delete id="deleteNumByCid">
        DELETE FROM t_cart WHERE cid=#{cid}
    </delete>
    <select id="findByUidAndPid" resultType="com.cy.store.entity.Cart">
        SELECT * FROM t_cart WHERE uid=#{uid} AND pid=#{pid}
    </select>
    <select id="findByUid" resultType="com.cy.store.Vo.CartVo">
        SELECT
             cid,
             uid,
             pid,
             t1.price,
             t1.num,
             t2.title,
             t2.image,
             t2.price AS realPrice
        FROM t_cart t1 LEFT JOIN t_product t2 ON t1.pid = t2.id
        WHERE t1.uid=#{uid}
        ORDER BY
            t1.created_time DESC
    </select>
    <select id="findByCid" resultType="com.cy.store.entity.Cart">
        SELECT *
        FROM
            t_cart
        WHERE
            cid=#{cid}
    </select>
    <select id="findVoByCid" resultType="com.cy.store.Vo.CartVo">
        SELECT
            cid,
            uid,
            pid,
            t1.price,
            t1.num,
            t2.title,
            t2.image,
            t2.price AS realPrice
        FROM t_cart t1 LEFT JOIN t_product t2 ON t1.pid = t2.id
        WHERE t1.cid IN (
            <foreach collection="array" item="cid" separator=",">
                #{cid}
            </foreach>
            )
        ORDER BY
            t1.created_time DESC
    </select>
</mapper>