<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.cy.store.mapper.DistrictMapper">
    <select id="findByParent" resultType="com.cy.store.entity.District">
        SELECT code,name FROM t_dict_district WHERE parent = #{parent}
        ORDER BY code
    </select>
    <select id="findNameByCode" resultType="java.lang.String">
        SELECT name FROM t_dict_district WHERE code = #{code}
    </select>
</mapper>