<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.cy.store.mapper.ProductMapper">

    <select id="findHotList" resultType="com.cy.store.entity.Product">
       SELECT *
       FROM t_product
       WHERE
           status=1
       ORDER BY
           priority DESC
       LIMIT 0,4
    </select>
    <select id="findById" resultType="com.cy.store.entity.Product">
        SELECT * FROM t_product WHERE id=#{id}
    </select>
    <select id="findNewList" resultType="com.cy.store.entity.Product">
        SELECT *
        FROM t_product
        WHERE
            status=1
        ORDER BY
            created_time DESC
        LIMIT 0,4
    </select>
</mapper>